<div>
  <div class="add-title">
    <h2 class="primary">Add customer</h2>
  </div>
  <div>
    <form [formGroup]="addCusForm" (change)="formChanged()">
      <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">
        <mat-grid-tile>
          <div class="text-inside">
            <!--<mat-form-field>-->
            <!--<input matInput placeholder="First Name" value={{fname}} formControlName="firstname" required>-->
            <!--<mat-error *ngIf="addCusForm.controls.firstname.hasError('required')">-->
            <!--Please enter first name-->
            <!--</mat-error>-->
            <!--<mat-error *ngIf="addCusForm.controls.firstname.hasError('pattern')">-->
            <!--Please enter valid first name-->
            <!--</mat-error>-->
            <!--</mat-form-field>-->
            <mat-form-field>
              <mat-label>Font size</mat-label>
              <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
                <mat-option value="10px">10px</mat-option>
                <mat-option value="12px">12px</mat-option>
                <mat-option value="14px">14px</mat-option>
                <mat-option value="16px">16px</mat-option>
                <mat-option value="18px">18px</mat-option>
                <mat-option value="20px">20px</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <!--<mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="Last Name" value={{lname}} formControlName="lastname" required>-->
            <!--<mat-error *ngIf="addCusForm.controls.lastname.hasError('required')">-->
            <!--Please enter last name-->
            <!--</mat-error>-->
            <!--<mat-error *ngIf="addCusForm.controls.lastname.hasError('pattern')">-->
            <!--Please enter valid last name-->
            <!--</mat-error>-->
            <!--</mat-form-field>-->
            <mat-form-field>
              <mat-label>Font size</mat-label>
              <mat-select #fontSize value="16px" (selectionChange)="triggerResize()">
                <mat-option value="10px">10px</mat-option>
                <mat-option value="12px">12px</mat-option>
                <mat-option value="14px">14px</mat-option>
                <mat-option value="16px">16px</mat-option>
                <mat-option value="18px">18px</mat-option>
                <mat-option value="20px">20px</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="Date of birth">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="Date of birth">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput  type="time" placeholder="Choose a date" >
              <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
              <!--<ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>-->
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field>
              <input matInput  type="time" placeholder="Choose a date" >
              <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
              <!--<ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>-->
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-radio-group class="gender">
              <div style="color:grey;">Gender</div>
              <mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" value="1">Male</mat-radio-button>
              <mat-radio-button  color="primary" style="padding:4px 0px 0px 24px;" value="2">Female</mat-radio-button>
            </mat-radio-group>
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="btn-sec">
        <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="onaddCus()">Save</button>
        <button mat-raised-button type="button" class="Discard-btn" (click)="openDialog()">Cancel</button>
      </div>

    </form>
  </div>
</div>
