<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">500</h1>
          <h4 class="pt-3 ">Désolé, le système a rencontrer un problème innatendu</h4>
          <p class="text-danger text-center">Soit vos informations sont erronées soit la page que vous recherchez est temporairement indisponible</p>
        </div>
        <div class="input-prepend input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input id="prependedInput" class="form-control" size="16" type="text" placeholder="What are you looking for?">
          <span class="input-group-btn">
            <button class="btn btn-info" type="button" (click)="goBack()">Retour</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
