<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group mb-0">
          <div class="card p-4">

            <div class="card-body">
              <div class="w3-center" id="box1" ><br>
                <img  id="avatar2"  alt="Avatar" style="width:150px; height: 150px" class="w3-round w3-padding " src="../assets/img/ticket.png">
              </div>
              <h1 class="w3-center">Connexion</h1>
              <p class="text-muted w3-center">Connectez-vous à votre compte</p>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="pi pi-user"></i></span>
                <input type="text" name="username" class="form-control" placeholder="Identifiant" [(ngModel)]="username" >
              </div>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="pi pi-lock"></i></span>
                <input type="password" name="password" class="form-control" placeholder="Mot de passe" [(ngModel)]="password">
              </div>
              <div *ngIf="badCredentials" class="text-danger" style="text-align: center">Identifiant ou mot de passe incorrect</div>
              <div class="row mt-2">
                <div class="col-6">
                  <button type="button" class="btn btn-primary px-4" (keypress)="onLogin()" (click)="onLogin()">Connecter</button>
                </div>
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-link px-0">Mot de passe oublié?</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdOpacity = 0.9

  size = "medium"
  color = "#fff"
  type = "ball-spin"
  [fullScreen] = "false"
>
  <p style="color: white" > Chargement... </p>
</ngx-spinner>
