
<div class="input-group container-fluid">

  <span class="input-group-addon"><i class="pi pi-search"></i></span>
  <input id="prependedInput" class="form-control" size="16" type="text" placeholder="Rechercher" name="search" [(ngModel)]="motCle">
  <span class="input-group-btn mr-2">
            <button class="btn btn-info mr-2" type="button" (click)="goBack()">Rechercher</button>
  </span>
  <div class="input-group-btn ml-3 pull-right">
    <button type="button" class="btn btn-success active" (click)="newClasse()"><i class=" fa fa-plus"></i>  Ajouter</button>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-sm-6 col-md-3 col-lg-3" *ngFor="let classe of classes | filter : motCle ">
    <div class="card  border-info rounded" (click)="getClasse(classe.classeId)">
      <div class="card-body">

        <div class="h1 text-muted text-right mb-4">
          <i class="icon-people"></i>
        </div>
        <div class="h4 mb-0">{{classe.effectif}}</div>
        <small class="text-muted text-uppercase font-weight-bold">Classe de {{classe.libelle}}</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar {{classe.couleur}}" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div><!--/.col-->
  <!--/.col-->

</div><!--/.row-->

<p-dialog header="Ajouter une classe" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"   [style]="{width: '600px'}">
  <div class="ui-g ui-fluid" >
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="libelle">Libelle</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="libelle" [(ngModel)]="classe.libelle"  />
      </div>
    </div>


  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" icon="pi pi-times" (click)="hideDialog()" class="ui-button-danger"></button>
      <button type="button" pButton icon="fa fa-check" (click)="saveClasse()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

<p-toast [style]="{marginTop: '80px'}"></p-toast>

