<mat-card class="col-md-3 card  border-warning">
 Activités
</mat-card>
<br/>
<mat-card class="card  border-warning">
<mat-selection-list #shoes>

  <h3 class="text-primary font-weight-bold" matSubheader>Classe</h3>
  <mat-list-option>

      Activer l'identification par code barre

  </mat-list-option>
  <mat-list-option >
    Activer l'identification par QR code
  </mat-list-option>

  <mat-divider></mat-divider>
  <h3 class="text-primary" matSubheader>Etudiant</h3>
  <mat-list-option >
    Activer l'identification par code barre
  </mat-list-option>
  <mat-list-option >
    Activer l'identification par QR code
  </mat-list-option>
  <mat-divider></mat-divider>


</mat-selection-list>
</mat-card>

<mat-card class="col-md-3 card  border-warning">
  Année scolaire
</mat-card>
<br/>
<mat-card class="card  border-info ">
  <div class="row">
  <div class="col-6 align-self-center">
  Année soclaire courante
  </div>
  <div class="col-6 text-right">
  <mat-form-field >
    <mat-label>Selectionnez une année scolaire</mat-label>
    <mat-select [(ngModel)]="currentAnneeScolaireId"  [value]="currentAnneeScolaire.anneeScolaire" (selectionChange)="updateCurrentAnneeScolaire()">
      <mat-option>Aucun</mat-option>
      <mat-option  [value]="anneeScolaire.anneeScolaireId" *ngFor="let anneeScolaire of anneeScolaires"><div class="d-flex justify-content-between"><div>{{anneeScolaire.anneeScolaire}}</div> <div><span *ngIf="anneeScolaire.currentAnneeScolaire" class="badge badge-success ml-5"><i class="fa fa-check"></i></span></div></div></mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  </div>
</mat-card>


<label>Last Name</label>
<input class="w3-input" [(ngModel)]="value" type="text" (blur)="goTo()">
