<!--<div class="container">-->
  <div class="row">
    <div class=" text-center">
      <div class="btn-group btn-group-lg">
        <button type="button" *ngFor="let classe of classes" class="btn btn-primary"
                (click)="onClasseChange(classe.classeId)">{{classe.libelle}}
        </button>
      </div>
    </div>
  </div>
<!--</div>-->
<br/>
<mat-tab-group (selectedTabChange)="changeIndex($event)" >
  <mat-tab  *ngFor="let matiere of matieres;" [label]="matiere.libelle" >
    <br/>

    <div>
    {{matiere.professorName | uppercase}}
    </div>
    <div class="input-group-btn ml-3 pull-right">
      <button type="button" class="btn btn-success active" (click)="showDevoir(matiere.matiereId)"><i class=" fa fa-plus"></i>  Ajouter</button>
    </div>
    <br/>
    <div class="row" >
      <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let devoir of devoirs | filter : motCle ">
        <div class="card  border-info rounded" (click)="getDevoir(devoir.devoirId)">
          <div class="card-body">

            <div class="h1 text-muted text-right mb-4">
              <i class="icon-book-open"></i>
            </div>
            <div class="h4 mb-0">{{devoir.libelle}} </div>
            <small class="text-muted text-uppercase font-weight-bold">{{devoir.date | date:'dd/MM/yyyy'}}</small>
            <div class="progress progress-xs mt-3 mb-0">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div><!--/.col-->
      <!--/.col-->

    </div>

  </mat-tab>

</mat-tab-group>


<p-dialog header="Ajouter un devoir" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"   [style]="{width: '600px'}">
  <div class="ui-g ui-fluid" >
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="libelle">Libelle</label>
      </div>
      <div class="ui-g-8">
        <select pInputText id="libelle" [(ngModel)]="newDevoir.devoirOrder">
          <option [value]="1"  >1er Devoir</option>
          <option [value]="2"  >2ème Devoir</option>
          <option [value]="3"  >3ème Devoir</option>
        </select>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="date">Date </label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="date" type="date" [(ngModel)]="newDevoir.date"  />
      </div>
    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" icon="pi pi-times" (click)="hideDialog()" class="ui-button-danger"></button>
      <button type="button" pButton icon="fa fa-check" (click)="saveDevoir()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
