table select{
  display: inline;
  border: 0;
}
table input[type=text] {
  border: none;
  background-color: none;
  outline: 0;
  font-size: 25px;
  width: 300px;
  height: 30px;
}

table input[type=text]:focus {
  border: none;
  background-color: none;
  outline: 0;
  width: 300px;
  height: 30px;
}

table td {
  text-align: center;
}
table th {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
