<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Professeurs
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>email</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let professor of professors">
            <td class="center" [contenteditable]='professor.editable' [(ngModel)]="professor.name" ></td>
            <!--<td *ngIf="matiere.editable"><input type="text" [(ngModel)]="matiere.libelle"/></td>-->
            <td class="center" [contenteditable]='professor.editable' [(ngModel)]="professor.surname"></td>
            <!--<td *ngIf="matiere.editable"><input type="text" [(ngModel)]="matiere.coeficient"/></td>-->
            <!--<td class="center"  [contenteditable]="professor.editable" >-->
              <!--<select [disabled]="!professor.editable" style="border:none" class="w3-select" name="option"  [(ngModel)]="professor.professorId" >-->
                <!--<option [selected]="professor.professorId === prof.professorId"  [value]="prof.professorId"  *ngFor="let prof of professors">{{prof.name}} {{prof.surname}}</option>-->
              <!--</select></td>-->
            <td [contenteditable]="professor.editable"  [(ngModel)]="professor.email"></td>
            <td>
              <button *ngIf="professor.editable" type="button" class="btn btn-success btn-sm" (click)="saveMatiere(professor)" ><i class="pi pi-check"></i></button>
              <button *ngIf="!professor.editable" type="button" class="btn btn-primary btn-sm" (click)="modifyProfessor(professor)" ><i class="pi pi-pencil"></i></button>
              <button [disabled]="!professor.editable"  type="button" class="btn btn-warning btn-sm" (click)="cancelProfessorModif(professor)" ><i class="pi pi-times"></i></button>
              <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" (click)="confirm(professor.professorId)"><i class="pi pi-trash"></i></button>
              <!--<label class="switch switch-3d switch-success">-->
              <!--<input type="checkbox" class="switch-input" [(ngModel)]="matiere.editable"  [checked]="matiere.editable" >-->
              <!--<span class="switch-label"></span>-->
              <!--<span class="switch-handle"></span>-->
              <!--</label>-->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <button  type="submit"  class="w3-button buttonload  w3-blue w3-ripple w3-padding pull-right" (click)=" addProfessor()"><i style="display: none" id="loader1" class="fa fa-spinner fa-spin"></i> Ajouter</button>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog [transitionOptions]="'25ms'" acceptLabel="Oui" rejectLabel="Non" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
