
<div class="input-group container-fluid">

  <span class="input-group-addon"><i class="pi pi-search"></i></span>
  <input id="prependedInput" class="form-control" size="16" type="text" placeholder="Rechercher" name="search" >
  <span class="input-group-btn mr-2">
            <button class="btn btn-info mr-2" type="button" (click)="goBack()">Rechercher</button>
  </span>
  <div class="input-group-btn ml-3 pull-right">
    <button type="button" class="btn btn-success active" (click)="openDialog()"><i class=" fa fa-plus"></i>  Ajouter</button>
  </div>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </th>
      <td mat-cell *matCellDef="let row"> {{row.longitude}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitude </th>
      <td mat-cell *matCellDef="let row"> {{row.latitude}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="ville">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ville </th>
      <td mat-cell *matCellDef="let row" > {{row.nomVille}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
