<div class="row">
  <div class="col-lg-12">
    <p-accordion>
      <p-accordionTab header="Liste des étudiants" [selected]="true">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Etudiants
          </div>
          <div class="card-body">
            <p-table [columns]="cols" [value]="students"  selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5" #dt>
              <ng-template pTemplate="caption">
                <div class="ui-helper-clearfix">
                  <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
                  <button type="button" pButton icon="fa fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th style="width: 3em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input  pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

                    <!--<p-dropdown *ngSwitchCase="'prenom'" [options]="prenom" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>-->
                    <!--<p-multiSelect *ngSwitchCase="'email'" [options]="email" defaultLabel="All Colors" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>-->
                  </th>
                </tr>
                <tr>
                  <th></th>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                </tr>

              </ng-template>
              <ng-template pTemplate="body"  let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                  <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                  </td>
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                  <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
                </div>
              </ng-template>
            </p-table>

          </div>


        </div>
      </p-accordionTab>
      <p-accordionTab header="Programme" >
        <div class="card">
          <div class="card-body">
            <button type="button" pButton icon="fa fa-plus" (click)="showEventDialogToAdd()" label="Add"></button><br/><br/>
            <p-fullCalendar durationEditable="true" [events]="events" [options]="options"></p-fullCalendar>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
  <!--/.col-->
</div>
<p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
  <div class="ui-g ui-fluid" >
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="vin">Nom</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="vin" [(ngModel)]="student['name']"  />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Prenom</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="year" [(ngModel)]="student.surname" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="brand">Email</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="brand" [(ngModel)]="student.email" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="color">Color</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="color" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>


<p-dialog header="Add event" [(visible)]="displayEventDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
  <div class="ui-g ui-fluid" >
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="vin">Nom</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="date" type="date" [(ngModel)]="date"  />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>
      <button type="button" pButton icon="fa fa-check" (click)="saveEvent()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

