
<div class="input-group container-fluid">

  <span class="input-group-addon"><i class="pi pi-search"></i></span>
  <input id="prependedInput" class="form-control" size="16" type="text" placeholder="Rechercher" name="search" >
  <span class="input-group-btn mr-2">
            <button class="btn btn-info mr-2" type="button" (click)="goBack()">Rechercher</button>
  </span>
  <div class="input-group-btn ml-3 pull-right">
    <button type="button" class="btn btn-success active" (click)="openDialog()"><i class=" fa fa-plus"></i>  Ajouter</button>
    
  </div>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <!--<ng-container matColumnDef="id">-->
      <!--<th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>-->
      <!--<td mat-cell *matCellDef="let row"> {{row.trajetId}} </td>-->
    <!--</ng-container>-->

    <!-- Progress Column -->
    <ng-container matColumnDef="depart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Départ </th>
      <td mat-cell *matCellDef="let row"> {{row.arretDepart.nomVille}}-{{row.arretDepart.nom}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="arrivee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrivée </th>
      <td mat-cell *matCellDef="let row"> {{row.arretArrivee.nomVille}}-{{row.arretArrivee.nom}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="date-depart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Dept. </th>
      <td mat-cell *matCellDef="let row" > {{row.dateDepart | date :'dd-MM-yyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="date-arrivee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Arr. </th>
      <td mat-cell *matCellDef="let row" > {{row.dateArrivee | date :'dd-MM-yyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="heure-depart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Heure Dept. </th>
      <td mat-cell *matCellDef="let row" > {{row.heureDepart.substr(0, 5) }} </td>
    </ng-container>

    <ng-container matColumnDef="heure-arrivee">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Heure Arr. </th>
      <td mat-cell *matCellDef="let row" > {{row.heureArrivee.substr(0, 5) }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
