<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          Description
        </div>
        <div class="card-body">
          <div class="row">
          <div class="col-sm-6 col-md-4">
            <select class="w3-select" name="option"  [(ngModel)]="selectedClasse"  (change)="updateClasseProgramme(selectedClasse)">
              <option value="" disabled selected>Selectionnez une classe</option>
              <option  [value]="classe.classeId"  *ngFor="let classe of classes">{{classe.libelle}}</option>
            </select>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<form class="w3-container w3-card-4" >-->
  <!--<h1>Selectionnez une classe</h1>-->

  <!--<select class="w3-select" name="option" (change)="updateClasseProgramme()">-->
    <!--<option value="" disabled selected>Choose your option</option>-->
    <!--<option  value="1" *ngFor="let classe of classes">{{classe.libelle}}</option>-->
  <!--</select>-->
  <!--<div class="w3-panel w3-card-4">-->
    <!--<p>Classe</p>-->
  <!--</div>-->
<!--</form>-->
<br/><br/>

<!--<div *ngIf="selectedClasse!=0" class="card">-->
  <!--<div class="card-body">-->
<!--<jqxBarGauge-->
  <!--[width]="600" [height]="600" [max]="150"-->
  <!--[colorScheme]="'scheme02'" [values]="values">-->
<!--</jqxBarGauge>-->
  <!--</div>-->
<!--</div>-->
  <div *ngIf="selectedClasse!=0" class="card">
    <div class="card-header">
      Emploi du temps
    </div>
    <div class="card-body">
  <jqxScheduler #schedulerReference (onAppointmentAdd)="mySchedulerOnAppointmentAdd($event)" [editDialogClose]="editDialogClose"
                (onAppointmentChange)="mySchedulerOnAppointmentChange($event)" (onAppointmentDelete)="mySchedulerOnAppointmentDelete($event)"
                [date]="date" [view]="'monthView'" width="90%"  [height]="700" [source]="dataAdapter" [showLegend]="true" [exportSettings]="exportSettings"
                [appointmentDataFields]="appointmentDataFields" [resources]="resources" [views]="views" [renderAppointment]="renderAppointment">
  </jqxScheduler>
      <div style='margin-top: 20px;'>
        <div style='margin-left: 10px; float: left;'>
          <jqxButton #excelExport
                     (onClick)="printClick()">
            Print
          </jqxButton>
        </div>
      </div>
    </div>
  </div>

