<mat-card >
  <div class="row">
  <div class="col-md-4 text-center"><i class="icon-book-open"></i> {{devoir.libelle}} de {{devoir.matiereName}}</div>
  <div class="col-md-4 text-center"><i class="icon-clock"></i> {{devoir.date | date:'dd-MM-yyyy'}} </div>
  <div class="col-md-4 text-center"><i class="icon-people"></i> {{devoir.classeName}} </div>
  </div>
</mat-card>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">
<table matSort  mat-table [dataSource]="dataSource" >
  <mat-spinner *ngIf="loading"></mat-spinner>
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Matricule </th>
    <td mat-cell *matCellDef="let element"> {{element.matricule}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-sort-header="name" mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="surname">
    <th mat-sort-header="surname"  mat-header-cell *matHeaderCellDef> Prénom </th>
    <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-sort-header="email"  mat-header-cell *matHeaderCellDef> Email </th>
    <td  mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="note">
    <th mat-sort-header="note"  style="text-align: center;" mat-header-cell *matHeaderCellDef> Note </th>
    <td  [ngClass]="element.note.value<10?'text-danger':element.note.value<15 && element.note.value>=10?'text-warning':'text-success'" [(ngModel)]="element.note.value" [contenteditable]="editable" mat-cell *matCellDef="let element"> {{element.note.value}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <mat-paginator itemsPerPageLabel="Elements par page" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  <div class="modal-footer">
    <button *ngIf="editable" type="button" class="btn btn-danger" (click)="cancelModification()">Annuler</button>
    <button *ngIf="!editable" type="button" class="btn btn-primary" (click)="modify() ">Modifier</button>
    <button *ngIf="editable" type="button" class="btn btn-success" (click)="saveModification() ">Enregistrer</button>
  </div>
</div>
