<div>
  <div class="add-title">
    <h2 class="primary">Nouvel arrêt</h2>
  </div>
  <div>
    <form [formGroup]="addCusForm" (change)="formChanged()">
      <mat-grid-list cols="2" [cols]="breakpoint" rowHeight="85px" (window:resize)="onResize($event)">
        <mat-grid-tile>
          <div class="text-inside">
            <!--<mat-form-field>-->
            <!--<input matInput placeholder="First Name" value={{fname}} formControlName="firstname" required>-->
            <!--<mat-error *ngIf="addCusForm.controls.firstname.hasError('required')">-->
            <!--Please enter first name-->
            <!--</mat-error>-->
            <!--<mat-error *ngIf="addCusForm.controls.firstname.hasError('pattern')">-->
            <!--Please enter valid first name-->
            <!--</mat-error>-->
            <!--</mat-form-field>-->
            <mat-form-field>
              <mat-label>Ville</mat-label>
              <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedVilleId" #fontSize value="16px" (selectionChange)="triggerResize()">
                <mat-option *ngFor="let ville of villeList" [value]="ville.villeId">{{ville.nom}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nom" [ngModelOptions]="{standalone: true}" [(ngModel)]="arret.nom"  required>
              <mat-error *ngIf="addCusForm.controls.lastname.hasError('required')">
                Please enter last name
              </mat-error>
              <mat-error *ngIf="addCusForm.controls.lastname.hasError('pattern')">
                Please enter valid last name
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Longitude" [ngModelOptions]="{standalone: true}" [(ngModel)]="arret.longitude"  required>
              <mat-error *ngIf="addCusForm.controls.lastname.hasError('required')">
                Please enter last name
              </mat-error>
              <mat-error *ngIf="addCusForm.controls.lastname.hasError('pattern')">
                Please enter valid last name
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="text-inside">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Latitude" [ngModelOptions]="{standalone: true}" [(ngModel)]="arret.latitude"  required>
              <mat-error *ngIf="addCusForm.controls.lastname.hasError('required')">
                Please enter last name
              </mat-error>
              <mat-error *ngIf="addCusForm.controls.lastname.hasError('pattern')">
                Please enter valid last name
              </mat-error>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <!--<mat-grid-tile>-->
          <!--<div class="text-inside">-->
            <!--<mat-form-field>-->
              <!--<input matInput  type="time" placeholder="Choose a date" >-->
              <!--&lt;!&ndash;<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>&ndash;&gt;-->
              <!--&lt;!&ndash;<ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>&ndash;&gt;-->
            <!--</mat-form-field>-->
          <!--</div>-->
        <!--</mat-grid-tile>-->
        <!--<mat-grid-tile>-->
          <!--<div class="text-inside">-->
            <!--<mat-form-field>-->
              <!--<input matInput  type="time" placeholder="Choose a date" >-->
              <!--&lt;!&ndash;<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>&ndash;&gt;-->
              <!--&lt;!&ndash;<ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>&ndash;&gt;-->
            <!--</mat-form-field>-->
          <!--</div>-->
        <!--</mat-grid-tile>-->
        <!--<mat-grid-tile>-->
          <!--<div class="text-inside">-->
            <!--<mat-radio-group class="gender">-->
              <!--<div style="color:grey;">Gender</div>-->
              <!--<mat-radio-button color="primary" style="padding:4px 4px 0px 0px;" value="1">Male</mat-radio-button>-->
              <!--<mat-radio-button  color="primary" style="padding:4px 0px 0px 24px;" value="2">Female</mat-radio-button>-->
            <!--</mat-radio-group>-->
          <!--</div>-->
        <!--</mat-grid-tile>-->
      </mat-grid-list>

      <div class="btn-sec">
        <button mat-raised-button type="submit" color="primary" class="Update-btn" (click)="saveArret()">Save</button>
        <button mat-raised-button type="button" class="Discard-btn" (click)="openDialog()">Cancel</button>
      </div>

    </form>
  </div>
</div>
