<div class="row">
  <div class="col-sm-6 col-lg-3" (click)="getCours()">
    <div class="card  border-success rounded">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-calendar"></i>
        </div>
        <div class="h4 mb-0">37</div>
        <small class="text-muted text-uppercase font-weight-bold">Cours</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-md-3 col-lg-3" (click)="getDevoirs()">
    <div class="card  border-warning rounded">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-folder"></i>
        </div>
        <div class="h4 mb-0">18</div>
        <small class="text-muted text-uppercase font-weight-bold">Devoirs</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div><!--/.col-->


</div>
