.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
//table select{
//  display: inline;
//  border: 0;
//}
table select[type=text] {
  border: none;

}

table select[type=text]:focus {
  border: none;
}

 td {
  text-align: center;
}
 th {
  text-align: center;
}

