<p-panel [header]="'Classe de ' +classe.libelle" [toggleable]="true"   [style]="{'margin-bottom':'20px','background-color': '#d9edf7'}" >

  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-4 ">
        <div class=" text-muted"> Identification</div>
       <div class="row property"> <strong>Libelle :</strong> <p class="propertyValue text-primary">{{classe.libelle}}</p></div>
        <div class="row property"> <strong>Ecole :</strong><p class="propertyValue text-primary"><a [routerLink]="['/ecole/details']">{{classe.schoolName}}</a></p></div>
        <div class="row property"> <strong>Effectif :</strong><p class="propertyValue text-primary">{{classe.effectif}}</p></div>
        <div class="row property"> <strong>Description :</strong> <p [popover]="descriptionPopover"  [ngClass]="{'text-primary': classe.description}" class="propertyValue "><i class="icon-bubble" aria-hidden="true"></i></p></div>
        <div class="row property"> <strong>Commentaire :</strong> <p [popover]="commentairePopover" [ngClass]="{'text-primary': classe.commentaire}"  class="propertyValue"><i class="icon-bubble" aria-hidden="true"></i></p></div>
      </div>
      <div class="ui-g-4">Col2</div>
      <div class="ui-g-4">Col3</div>
    </div>
  </div>
</p-panel>
<popover-content #descriptionPopover
                 placement="right"
                 [animation]="true"
                 [closeOnClickOutside]="true" >
  <div class="form-group">
    <textarea class="form-control" (mouseleave)="updateClasse()" [(ngModel)]="classe.description" rows="5" id="description"></textarea>
  </div>
</popover-content>
<popover-content #commentairePopover
                 placement="right"
                 [animation]="true"
                 [closeOnClickOutside]="true" >
  <div class="form-group">
    <textarea class="form-control" (mouseleave)="updateClasse()" [(ngModel)]="classe.commentaire" rows="5" id="commentaire"></textarea>
  </div>
</popover-content>

<div class="row">
  <div class="col-lg-12">
    <p-accordion>
    <p-accordionTab header="Liste des étudiants" [selected]="true">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Etudiants
      </div>
      <div class="card-body">
        <p-table  [columns]="cols" [value]="students"  selectionMode="single" [(selection)]="selectedStudent" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10" #dt>
          <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
              <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
              <button type="button" pButton icon="fa fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngIf="col.field!='view'" pInputText type="text" style="width:60% !important;" (input)="dt.filter($event.target.value, col.field, 'contains')">
               </th>
            </tr>
            <tr>
              <th></th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon *ngIf="col.field!='view'" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>

            </tr>

          </ng-template>
          <ng-template pTemplate="body"  let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns" class="center">
                {{rowData[col.field]}}
                <button *ngIf="col.field=='view'" pButton icon="fa fa-search"   (click)="selectCarWithButton(rowData)"></button>
              </td>

            </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-rowData>
            <div style="text-align:right">
              <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Ajouter"></button>
            </div>
          </ng-template>
        </p-table>

      </div>


    </div>
    </p-accordionTab>
      <p-accordionTab header="Programme" >
        <div class="card">
          <div class="card-body">
        <p-fullCalendar [events]="programmes" [options]="options"></p-fullCalendar>
          </div>
        </div>
      </p-accordionTab>

      <p-accordionTab header="Matières" >
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Matières
              </div>
              <div class="card-body">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                  <tr>
                    <th>Libelle</th>
                    <th>Coeficient</th>
                    <th>Professeur</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let matiere of matieres">
                    <td class="center" [contenteditable]='matiere.editable' [(ngModel)]="matiere.libelle" ></td>
                    <td class="center" [contenteditable]='matiere.editable' [(ngModel)]="matiere.coeficient"></td>
                    <td class="center"  (click)="matiere.editable?showProfSelect(matiere):''" >
                      {{matiere.professorName}}
                    </td>
                    <td>
                      <button *ngIf="matiere.editable" type="button" class="btn btn-success btn-sm" (click)="saveMatiere(matiere)" ><i class="pi pi-check"></i></button>
                      <button *ngIf="!matiere.editable" type="button" class="btn btn-primary btn-sm" (click)="modifyMatiere(matiere)" ><i class="pi pi-pencil"></i></button>
                      <button [disabled]="!matiere.editable"  type="button" class="btn btn-warning btn-sm" (click)="cancelMatiereModif(matiere)" ><i class="pi pi-times"></i></button>
                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" (click)="confirm(matiere.matiereId)"><i class="pi pi-trash"></i></button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer">
                <button  type="submit"  class="w3-button buttonload  w3-blue w3-ripple w3-padding pull-right" (click)="choseMatiere()"><i style="display: none" id="loader1" class="fa fa-spinner fa-spin"></i> Ajouter</button>
              </div>
            </div>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
  <!--/.col-->
</div>







<p-dialog header="Ajouter un étudiant" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"   [style]="{width: '600px'}">
  <div class="ui-g ui-fluid" >
    <div class="ui-g-12">
      <div class="ui-g-2">
        <label for="vin">Nom</label>
      </div>
      <div class="ui-g-4">
        <input pInputText id="vin" [(ngModel)]="student.name"  />
      </div>
      <div class="ui-g-2">
        <label for="year">Prenom</label>
      </div>
      <div class="ui-g-4">
        <input pInputText id="year" [(ngModel)]="student.surname" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-2">
        <label for="matricule">Matricule</label>
      </div>
      <div class="ui-g-4">
        <input pInputText id="matricule" [(ngModel)]="student.matricule" />
      </div>
      <div class="ui-g-2">
        <label for="brand">Email</label>
      </div>
      <div class="ui-g-4">
        <input pInputText id="brand" [(ngModel)]="student.email" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-2">
        <label for="dateOfBirth">Date de Naissance</label>
      </div>
      <div class="ui-g-4">
        <input pInputText type="date" id="dateOfBirth"  />
      </div>
      <div class="ui-g-2">
        <label for="description">Description</label>
      </div>
      <div class="ui-g-4">
        <input pInputText id="description" />
      </div>
    </div>

  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" icon="pi pi-times" (click)="hideDialog()" class="ui-button-danger"></button>
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
<p-confirmDialog [transitionOptions]="'25ms'" acceptLabel="Oui" rejectLabel="Non" header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


<p-dialog header="Veillez selectionnez une matière" [(visible)]="displayDialogForMatiere" [responsive]="true" showEffect="fade" [modal]="true"   [style]="{width: '600px'}">
  <div class="ui-g ui-fluid" >
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="matieres">Matière</label>
      </div>
      <div class="ui-g-8">
        <select type="text" id="matieres"   class="w3-select" name="option"  [(ngModel)]="selectedMatiereId" >
          <option [value]="matiere.matiereId"  *ngFor="let matiere of matiereList">{{matiere.libelle}}</option>
        </select>
      </div>
    </div>


  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" icon="pi pi-times" (click)="hideDialog()" class="ui-button-danger"></button>
      <button type="button" pButton icon="fa fa-check" (click)="addMatiere()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>


<p-dialog header="Veillez selectionnez un Professeur" [(visible)]="displayProfSelect" [responsive]="true" showEffect="fade" [modal]="true"   [style]="{width: '900px'}">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                <tr>
                  <th>Select</th>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>email</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let professor of professors">
                  <td (click)="affectProfessor(professor)"><button type="button" class="btn btn-secondary btn-sm" ><i class="icon-arrow-left"></i></button></td>
                  <td class="center"  >{{professor.name}}</td>
                  <td class="center" >{{professor.surname}}</td>
                  <td class="center">{{professor.email}}</td>
                </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <button *ngIf="currentPage!=0"  class="w3-button w3-red page-item" (click)="gotoPage(currentPage-1)">Prev</button>
                <li [ngClass]="{'active':currentPage==(i)}" *ngFor="let p of pages; let i=index" class="clickable">
                  <a (click)="gotoPage(i)">{{i+1}}</a>
                </li>
                <button *ngIf="currentPage!=totalPages-1" class="w3-button  w3-blue w3-ripple w3-padding page-item" (click)="gotoPage(currentPage+1)">Next</button>
              </ul>
            </div>
          </div>
        </div>


  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button pButton type="button" icon="pi pi-times" (click)="hideDialog()" label="Fermer" class="ui-button-danger"></button>
    </div>
  </p-footer>
</p-dialog>
