<!--<p-toolbar>-->
  <!--<div class="ui-toolbar-group-left">-->
    <!--<button pButton type="button" label="New" icon="pi pi-plus"></button>-->
    <!--<button pButton type="button" label="Upload" icon="pi pi-upload" class="ui-button-success"></button>-->

    <!--<i class="pi pi-bars"></i>-->

    <!--<p-splitButton label="Save" icon="pi pi-check" [model]="items" styleClass="ui-button-warning"></p-splitButton>-->
  <!--</div>-->

  <!--<div class="ui-toolbar-group-right">-->
    <!--<button pButton type="button" icon="pi pi-search"></button>-->
    <!--<button pButton type="button" icon="pi pi-calendar" class="ui-button-success"></button>-->
    <!--<button pButton type="button" icon="pi pi-times" class="ui-button-danger"></button>-->
  <!--</div>-->
<!--</p-toolbar>-->

<!--<mat-form-field>-->
  <!--<input matInput [matDatepicker]="picker" placeholder="Choose a date">-->
  <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
  <!--<mat-datepicker #picker></mat-datepicker>-->
<!--</mat-form-field>-->


<!--&lt;!&ndash;<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">&ndash;&gt;-->

  <!--&lt;!&ndash;&lt;!&ndash;- Note that these columns can be defined in any order.&ndash;&gt;-->
        <!--&lt;!&ndash;The actual rendered columns are set as a property on the row definition" &ndash;&gt;&ndash;&gt;-->

  <!--&lt;!&ndash;&lt;!&ndash; Position Column &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<ng-container matColumnDef="position">&ndash;&gt;-->
    <!--&lt;!&ndash;<th mat-header-cell *matHeaderCellDef> No. </th>&ndash;&gt;-->
    <!--&lt;!&ndash;<td mat-cell *matCellDef="let element"> {{element.position}} </td>&ndash;&gt;-->
  <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

  <!--&lt;!&ndash;&lt;!&ndash; Name Column &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<ng-container matColumnDef="name">&ndash;&gt;-->
    <!--&lt;!&ndash;<th mat-header-cell *matHeaderCellDef> Name </th>&ndash;&gt;-->
    <!--&lt;!&ndash;<td mat-cell *matCellDef="let element"> {{element.name}} </td>&ndash;&gt;-->
  <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

  <!--&lt;!&ndash;&lt;!&ndash; Weight Column &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<ng-container matColumnDef="weight">&ndash;&gt;-->
    <!--&lt;!&ndash;<th mat-header-cell *matHeaderCellDef> Weight </th>&ndash;&gt;-->
    <!--&lt;!&ndash;<td mat-cell *matCellDef="let element"> {{element.weight}} </td>&ndash;&gt;-->
  <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

  <!--&lt;!&ndash;&lt;!&ndash; Symbol Column &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<ng-container matColumnDef="symbol">&ndash;&gt;-->
    <!--&lt;!&ndash;<th mat-header-cell *matHeaderCellDef> Symbol </th>&ndash;&gt;-->
    <!--&lt;!&ndash;<td mat-cell *matCellDef="let element"> {{element.symbol}} </td>&ndash;&gt;-->
  <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

  <!--&lt;!&ndash;<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>&ndash;&gt;-->
  <!--&lt;!&ndash;<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->

<!--<h1>Custom Stripe Form</h1>-->

<!--<form action="" method="POST" id="payment-form" (submit)="getToken()">-->
  <!--<span class="payment-message"></span>-->

  <!--<div class="form-row">-->
    <!--<label>-->
      <!--<span>Card Number</span>-->
      <!--<input  name="card-number" type="text" size="20" data-stripe="number">-->
    <!--</label>-->
  <!--</div>-->

  <!--<div class="form-row">-->
    <!--<label>-->
      <!--<span>Expiration (MM/YY)</span>-->
      <!--<input  name="expiry-month" type="text" size="2" data-stripe="exp_month">-->
    <!--</label>-->
    <!--<span> / </span>-->
    <!--<input  name="expiry-year" type="text" size="2" data-stripe="exp_year">-->
  <!--</div>-->

  <!--<div class="form-row">-->
    <!--<label>-->
      <!--<span>CVC</span>-->
      <!--<input  name="cvc" type="text" size="4" data-stripe="cvc">-->
    <!--</label>-->
  <!--</div>-->

  <!--<input type="submit" value="Submit Payment">-->
<!--</form>-->


<!--<stripe-card-->
        <!--#stripeCard-->
        <!--(catch) = "onStripeError($event)"-->
        <!--[(invalid)] = "invalidError"-->
        <!--(tokenChange) = "setStripeToken($event)"-->
<!--&gt;</stripe-card>-->

<!--<button type="button" (click)="stripeCard.createToken(extraData)">createToken</button>-->



<!--<h1>{{ title }}</h1>-->

<!--&lt;!&ndash; this creates a google map on the page with the given lat/lng from &ndash;&gt;-->
<!--&lt;!&ndash; the component as the initial center of the map: &ndash;&gt;-->
<!--<agm-map [latitude]="lat" [longitude]="lng">-->
  <!--<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--</agm-map>-->