/**
 * CoreUI - Open Source Bootstrap Admin Template
 * @version v1.0.0-alpha.6
 * @link http://coreui.io
 * Copyright (c) 2017 creativeLabs Łukasz Holeczek
 * @license MIT
 */
// Override Boostrap variables
@import "bootstrap-variables";

// Import Bootstrap source files
@import "bootstrap/bootstrap";

// If you want you can import bootstrap scss files directly from node_modules or bower_components.
// To do this please remove @import "bootstrap/bootstrap"; and uncomment proper line.

// Import Bootstrap source files from node_modules
// @import "node_modules/bootstrap/scss/bootstrap";

// Import Bootstrap source files from bower_components
// @import "bower_components/bootstrap/scss/bootstrap";

// Import vendors styles
@import "vendors/vendors";

// Override core variables
@import "core-variables";

// Import core styles
@import "core/core";

// Custom styles
@import "custom";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

agm-map {
  height: 300px;
}

tbody tr:hover {
  background-color: #d9edf7 !important;
}
thead tr{
  background-color: #d9edf7 !important;
}

.center{
  text-align: center;
}

.property{
  margin-top: 15px;
}

.propertyValue{
  padding-left: 30px;
}
//*{
//  font-family: Verdana,sans-serif;
//}
