<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <div class="panel panel-default">
        <div class="panel-header"><h4>PROFIL UTILISATEUR</h4></div>
        <div class="panel-body">
          <div class="card card-info">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4 col-md-4 text-left">
                  <div align="center">
                    <label for="profile-image-upload">
                    <img alt="User Pic"
                                           src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                                           id="profile-image1" class="rounded-circle img-responsive">
                    </label>
                    <input (change)="uploadService.fileChangeEvent($event,'profile-image1',student.studentId)" id="profile-image-upload" style="display: none;" type="file">
                    <div style="color:#999;">cliquez ici pour modifier l'avatar</div>
                    <!--Upload Image Js And Css-->
                  </div>
                  <br>
                  <!-- /input-group -->
                </div>
                <div class="col-sm-6 col-md-4 ">
                  <span><h4 style="color:#00b1b1;">{{student.name}} {{student.surname}}  </h4></span>
                  <span><p>Aspirant</p></span>
                </div>
                <div class="col-sm-2 col-md-4 ">
                  <div class="row text-right">
                    <!-- Success raised circle button with ripple effect -->
                    <div class="col-sm-12 col-md-12 text-justify">
                      <button *ngIf="editable" type="button" class="btn btn-danger" (click)="cancelModification()">
                        Annuler
                      </button>
                      <button *ngIf="!editable" type="button" class="btn btn-primary" (click)="modify() ">Modifier
                      </button>
                      <button *ngIf="editable" type="button" class="btn btn-success ml-2" (click)="saveModification() ">
                        Enregistrer
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <hr style="margin:5px 0 5px 0;">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-5 col-xs-6 tital mt-2">Matricule:</div>
                    <div *ngIf="!editable" class="col-sm-7 mt-2"> {{student.matricule}}</div>
                    <div *ngIf="editable" class="col-sm-7 mt-2">
                      <jqxInput  [(ngModel)]="student.matricule" [width]="100" [height]="25" [source]="countries"
                                [minLength]="1" [placeHolder]="'Enter a Country'"></jqxInput>
                    </div>
                  </div>
                  <hr style="margin:5px 0 5px 0;">
                  <div class="row">
                    <div class="col-sm-5 col-xs-6 tital mt-2">Nom:</div>
                    <div *ngIf="!editable" class="col-sm-7 col-xs-6 mt-2">{{student.name}}</div>
                    <div *ngIf="editable" class="col-sm-7 mt-2">
                      <jqxInput [(ngModel)]="student.name" [width]="100" [height]="25" [source]="countries"
                                [minLength]="1" [placeHolder]="'Enter a Country'"></jqxInput>
                    </div>
                  </div>
                  <hr style="margin:5px 0 5px 0;">
                  <div class="row">
                    <div class="col-sm-5 col-xs-6 tital mt-2">Prenom:</div>
                    <div *ngIf="!editable" class="col-sm-7 mt-2"> {{student.surname}}</div>
                    <div *ngIf="editable" class="col-sm-7 mt-2">
                      <jqxInput  [(ngModel)]="student.surname" [width]="100" [height]="25" [source]="countries"
                                [minLength]="1" [placeHolder]="'Enter a Country'"></jqxInput>
                    </div>
                  </div>
                  <hr style="margin:5px 0 5px 0;">
                  <div class="row">
                    <div class="col-sm-5 col-xs-6 tital mt-2">Date d'entrée:</div>
                    <div *ngIf="!editable" class="col-sm-7 mt-2">{{student.joinday | date :'dd-MM-yyyy'}}</div>
                    <div *ngIf="editable" class="col-sm-7 mt-2">
                      <jqxDateTimeInput [(ngModel)]='student.joinday' [width]="100" [height]="25"></jqxDateTimeInput>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row ">
                    <div class="col-sm-5 col-xs-6 tital mt-2">Date de naissance:</div>
                    <div *ngIf="!editable" class="col-sm-7 mt-2">{{student.birthday | date :'dd-MM-yyyy'}}</div>
                    <div *ngIf="editable" class="col-sm-7 mt-2">
                      <jqxDateTimeInput #jqxDateTimeInputComponent [(ngModel)]='student.birthday'  [width]="100" [height]="25"></jqxDateTimeInput>
                    </div>
                  </div>
                  <hr style="margin:5px 0 5px 0;">
                  <div class="row">
                    <div class="col-sm-5 col-xs-6 tital mt-2">Lieu de naissance:</div>
                    <div *ngIf="!editable" class="col-sm-7 mt-2">{{student.placeOfBirth}}</div>
                    <div *ngIf="editable" class="col-sm-7 mt-2">
                      <jqxInput [(ngModel)]="student.placeOfBirth" [width]="100" [height]="25" [source]="countries"
                                [minLength]="1" [placeHolder]="'Enter a Country'"></jqxInput>
                    </div>
                  </div>
                  <hr style="margin:5px 0 5px 0;">
                  <div class="row">
                    <div class="col-sm-5 col-xs-6 tital mt-2">Nationalité:</div>
                    <div *ngIf="!editable" class="col-sm-7 mt-2">{{student.nationnalite}}</div>
                    <div *ngIf="editable" class="col-sm-7 mt-2">
                      <jqxComboBox [selectedIndex]="selectedIndex"  [(ngModel)]="student.nationnalite" [width]="100" [height]="25" [source]="source"
                                   [minLength]="1" [placeHolder]="'Enter a Country'"></jqxComboBox>
                    </div>
                  </div>
                  <hr style="margin:5px 0 5px 0;">
                  <div class="row">
                    <div class="col-sm-5 col-xs-6 tital mt-2">Adresse:</div>
                    <div *ngIf="!editable" class="col-sm-7 mt-2">{{student.adresse.telephone}} {{student.adresse.ville}} {{student.adresse.country}}</div>
                    <div *ngIf="editable" class="col-sm-7">
                      <jqxInput class="mt-2 " [(ngModel)]="student.adresse.telephone" [width]="80" [height]="25" [source]="countries"
                                [minLength]="1" [placeHolder]="'Enter phone number'"></jqxInput>
                      <jqxInput class="mt-2 ml-2" [(ngModel)]="student.adresse.ville" [width]="80" [height]="25" [source]="countries"
                                [minLength]="1" [placeHolder]="'Enter a city'"></jqxInput>
                      <jqxInput class="mt-2 ml-2" [(ngModel)]="student.adresse.country" [width]="80" [height]="25" [source]="countries"
                                [minLength]="1" [placeHolder]="'Enter a Country'"></jqxInput>
                    </div>
                  </div>
                </div>
              </div>

              <!-- /.box-body -->
            </div>
            <!-- /.box -->

          </div>


        </div>
      </div>
    </div>
    <script>
      $(function () {
        $('#profile-image1').on('click', function () {
          $('#profile-image-upload').click();
        });
      });
    </script>


  </div>
</div>
<div class="container">
<div class="card">
<div class="card-body ">
<div class="row ">
  <div class=" mx-auto">
  <jqxBarGauge #myBarGauge
    [width]="600" [height]="600" [colorScheme]='"scheme02"'
    [max]='20' [values]='values' [tooltip]='tooltip' >
  </jqxBarGauge>
  </div>
</div>
  <div class="card-footer text-justify" style="color:#999;font-size: 1.5em;">Statistiques</div>
</div>
</div>
</div>

<div class="container">
  <div class="card">
    <div class="card-body ">
      <table class="table table-bordered table-striped table-sm">
        <thead>
        <tr>
          <th class="center">Matière</th>
          <th class="center">Coefiscient</th>
          <th class="center">Note 1</th>
          <th class="center">Note 2</th>
          <th class="center">Note 3</th>
          <th class="center">Moyenne</th>
          <th class="center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let moyenne of moyennesList">
          <td class="center">{{moyenne.matiere.libelle}}</td>
          <!--<td *ngIf="matiere.editable"><input type="text" [(ngModel)]="matiere.libelle"/></td>-->
          <td class="center">{{moyenne.matiere.coeficient}}</td>
          <!--<td *ngIf="matiere.editable"><input type="text" [(ngModel)]="matiere.coeficient"/></td>-->
          <!--<td class="center"  [contenteditable]="professor.editable" >-->
          <!--<select [disabled]="!professor.editable" style="border:none" class="w3-select" name="option"  [(ngModel)]="professor.professorId" >-->
          <!--<option [selected]="professor.professorId === prof.professorId"  [value]="prof.professorId"  *ngFor="let prof of professors">{{prof.name}} {{prof.surname}}</option>-->
          <!--</select></td>-->
          <td class="center">{{moyenne.note1}}</td>
          <td class="center">{{moyenne.note2}}</td>
          <td class="center">{{moyenne.note3}}</td>
          <td class="center" >{{moyenne.average}}</td>
          <td>
            <button  type="button" class="btn btn-success btn-sm" (click)="saveMatiere()" ><i class="pi pi-check"></i></button>
            <button  type="button" class="btn btn-primary btn-sm" (click)="modifyProfessor()" ><i class="pi pi-pencil"></i></button>
            <button   type="button" class="btn btn-warning btn-sm" (click)="cancelProfessorModif()" ><i class="pi pi-times"></i></button>
            <button type="button" class="btn btn-danger btn-sm"  (click)="confirm()"><i class="pi pi-trash"></i></button>
            <!--<label class="switch switch-3d switch-success">-->
            <!--<input type="checkbox" class="switch-input" [(ngModel)]="matiere.editable"  [checked]="matiere.editable" >-->
            <!--<span class="switch-label"></span>-->
            <!--<span class="switch-handle"></span>-->
            <!--</label>-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--<qrcode [qrdata]="'GUETIN ARNAUD'" [size]="256" [level]="'M'"></qrcode>-->
<ngx-barcode [bc-value]="student.matricule" [bc-display-value]="true"></ngx-barcode>
