<div class="row">
  <div class="col-sm-6 col-md-3 col-lg-3" >
    <div class="card  border-info rounded" >
      <div class="card-body">

        <div class="h1 text-muted text-right mb-4">
          <i class="icon-user"></i>
        </div>
        <div class="h4 mb-0">50</div>
        <small class="text-muted text-uppercase font-weight-bold">Etudiants</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-lg-3">
    <div class="card  border-success rounded">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-people"></i>
        </div>
        <div class="h4 mb-0">37</div>
        <small class="text-muted text-uppercase font-weight-bold">Professeurs</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-md-3 col-lg-3">
    <div class="card  border-warning rounded">
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-wallet"></i>
        </div>
        <div class="h4 mb-0">18</div>
        <small class="text-muted text-uppercase font-weight-bold">Matières</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div><!--/.col-->
  <div class="col-sm-6 col-md-3 col-lg-3">
    <div class="card  border-info rounded" >
      <div class="card-body">
        <div class="h1 text-muted text-right mb-4">
          <i class="icon-docs"></i>
        </div>
        <div class="h4 mb-0">22</div>
        <small class="text-muted text-uppercase font-weight-bold">Programmes</small>
        <div class="progress progress-xs mt-3 mb-0">
          <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div><!--/.col-->

</div><!--/.row-->

